.body {
  font-family: "Roboto", sans-serif; }

.sidenav {
  height: 100%;
  width: 235px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: RGB(17, 31, 65);
  padding-top: 20px; }
  .sidenav a {
    padding: 10px 0px 0px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    margin-bottom: 0px;
    cursor: pointer; }
  .sidenav i {
    margin-right: 5px; }
  .sidenav a:hover {
    color: #f1f1f1; }

.main {
  margin-left: 250px;
  height: 500px; }

.main-body {
  min-height: 800px; }

.h2 {
  margin-top: 10px; }

.part-button {
  display: table;
  width: 100%;
  border-bottom: 1px solid #eee;
  height: 50px;
  margin: 10px 0px;
  padding-top: 5px; }
  .part-button .part-button-left {
    display: table-cell; }
    .part-button .part-button-left input {
      width: 250px; }
  .part-button .part-button-left button {
    margin-left: -5px;
    background-color: #fff; }
  .part-button .part-button-right {
    display: table-cell;
    text-align: right; }
  .part-button .part-button-right button {
    margin-right: 10px; }

.paging {
  clear: both;
  float: right;
  margin-right: 10px; }

.footer {
  clear: both;
  border-bottom: 2px solid #eee; }
  .footer img {
    width: 100px;
    float: right;
    display: block;
    height: 20px;
    margin-right: 10px; }
  .footer .footerLeft {
    display: inline-block;
    margin-top: 10px; }
  .footer .footerRight {
    float: right;
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: -103px; }

.header1 {
  height: 40px;
  font-weight: 500; }
  .header1 .headerLeft {
    display: inline-block; }
  .header1 .headerRight {
    margin-right: 20px;
    display: inline-block;
    float: right; }

.header {
  height: 100px;
  border-bottom: 1px solid #eee; }
  .header .title-parent {
    height: 15px; }
  .header .title-child span {
    float: left;
    display: inline-block; }
    .header .title-child span.headerRight {
      float: right;
      margin-top: 22px;
      margin-right: 10px; }
      .header .title-child span.headerRight .btn-new-package {
        width: 210px;
        height: 35px;
        border-radius: 0;
        text-align: center;
        background-color: #2672FB;
        color: #ffffff;
        font-size: 16px; }
        .header .title-child span.headerRight .btn-new-package:hover {
          background-color: #333; }

textarea.col-md-8.nameInput {
  height: 90px; }

.addNewPackage form {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px; }
  .addNewPackage form .row {
    margin-right: -15px;
    margin-left: -15px;
    min-height: 50px; }
    .addNewPackage form .row input {
      height: 40px; }
    .addNewPackage form .row textarea .nameInput {
      height: 90px; }
.addNewPackage .button-part {
  float: right; }
  .addNewPackage .button-part button {
    width: 100px;
    height: 40px; }
    .addNewPackage .button-part button#discard {
      background-color: #fff;
      color: #2672FB;
      border-color: #2672FB;
      border: 1px solid; }
    .addNewPackage .button-part button#add {
      background-color: #2672FB;
      border: 0px;
      color: #fff; }
      .addNewPackage .button-part button#add :hover {
        color: red; }

/*# sourceMappingURL=index.css.map */
