.body {
    font-family: "Roboto", sans-serif;
}
.sidenav {
    height: 100%;
    width: 235px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: RGB(17,31,65);
    padding-top: 20px;
    /* margin-left: 0px;
    margin-right: 0px; */
     
    a{
        padding: 10px 0px 0px 20px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        margin-bottom:0px;
    }

     i {
        margin-right: 5px;
    }
    a:hover {
        color: #f1f1f1;
    }
}

.main {
    margin-left: 250px;
    height: 500px;
}

.title-parent {
    height: 15px;
}

.h2 {
    margin-top: 10px;
}

.part-button{
    clear: left;
    height: 20px;
    margin-top: 85px;
    margin-bottom: 15px;

    button{
        float: right;
        margin-right: 15px;
    }
}

.pagin {
    float: right;
    margin-bottom: 15px;
}

.footer {
    clear: both;
}

.title-child {
    button {
    margin-right: 10px;
    }
}