$font: "Roboto", sans-serif;
$padding-10: 10px;
$margin-10: 10px;
$background-color-sidenav: RGB(17,31,65);
$color-sidenav-a:  #b8bcc6;
$color-sidenav-a-hover: #f1f1f1;
$color-border-bottom: #eee;
$color-button-add-new-package: #2672FB;
$color-add-new-package: #ffffff;
$color-background-hover-add-new-package: #333;
$color-button-white: #fff;


.body {
    font-family: $font;
}

.sidenav {
    height: 100%;
    width: 235px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: $background-color-sidenav;
    padding-top: 20px;

    padding-left: 25px;
    padding-right: 25px
    
    img {
        margin-bottom: 25px;
    }

    a{
        padding: 10px 0px 20px 0px;
        text-decoration: none;
        font-size: 15px;
        color: $color-sidenav-a;
        display: block;
        margin-bottom:0px;
        cursor: pointer;
    }

    li {
        margin-left: 0px;
    }

    i {
        margin-right: 5px;
    }

    a:hover {
       // color: $color-sidenav-a-hover;
    }
}

.main {
    margin-left: 250px;
    height: 500px;
}

.main-body {
    min-height: 800px;
}

.h2 {
    margin-top: 10px;
}

.part-button{
    display: table;
    width: 100%;
    border-bottom: 1px solid $color-border-bottom;
    height:50px;
    margin: 10px 0px;
    padding-top: 5px;

    .part-button-left{
        display:table-cell;
        
        input {
            width: 250px;
        }
    }

    .part-button-left button{
        margin-left: -5px;
        background-color: $color-button-white;
    }

    .part-button-right{
        display: table-cell;
        text-align: right;
    }

    .part-button-right button {
        margin-right: $margin-10;
    }
}

.paging {
    clear: both;
    float: right;
    margin-right: $margin-10;
}

.footer {
    clear: both;
    border-bottom: 2px solid $color-border-bottom;

    img {
        width: 100px;
        float: right;
        display: block;
        height: 20px;
        margin-right: $margin-10;
    }

    .footerLeft {
        display: inline-block;
        margin-top: $margin-10;
    }

    .footerRight {
        float: right;
        display: inline-block;
        float: right;
        margin-top: 20px;
        margin-right: -103px;
    }
}

.header1 {
    height: 40px;
    font-weight: 500;
    
    .headerLeft {
        display: inline-block;
    }
    .headerRight {
        margin-right: 20px;
        display: inline-block;
        float: right;
    }
}

.header {
    height: 100px;
    border-bottom: 1px solid $color-border-bottom;

    .title-parent {
        height: 15px;
    }

    .title-child {

        span{
            float: left;
            display: inline-block;
    
            &.headerRight{
                float: right;
                margin-top: 22px;
                margin-right: $margin-10;

                .btn-new-package {
                    width: 210px;
                    height: 35px;
                    border-radius: 0;
                    text-align: center;
                    background-color: $color-button-add-new-package;
                    color: $color-add-new-package;
                    font-size: 16px;
                    &:hover {
                        background-color: $color-background-hover-add-new-package; 
                    }
                }
            }
        }
    }
}

textarea.col-md-8.nameInput {
    height: 90px;
}

.addNewPackage {

    h3 {
        color: $color-button-add-new-package;
    }

    form {
        border-bottom: 1px solid #cccccc;
        margin-bottom: $margin-10;

        .row {
            margin-right: -15px;
            margin-left: -15px;
            min-height: 50px;
            margin-bottom: 20px;
        
            input {
                height: 40px;
            }
        
            textarea .nameInput {
                height: 90px;
            }
        }
    }

    select {
        width: 200px;
        height: 35px;
    }

    .previewPack button {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            width: 200px;
            background-color: white;
            height: 35px;
    }

    .button-part {
        float: right;

        button {
            width: 100px;
            height: 40px;
    
            &#discard {
                background-color: $color-button-white;
                color: $color-button-add-new-package;
                border-color: $color-button-add-new-package;
                border: 1px solid;

                &:hover {
                    background-color: red;
                }
            }
        }

        #add {
            background-color: $color-button-add-new-package;
            color: $color-button-white;
            border: 0px;
            background-color: #2672FB;
            width: 100px;
            height: 40px;
            
            &:hover {
                background-color: red;
            }
        }

        a {
           position: relative; 
        }
    }

    i.fas.fa-edit {
        margin-top: 30px;
        margin-left: 10px;
    }

    
}



